{% extends "layout/layoutMaster.twig" %}

{% block title %}Reservas{% endblock %}

{% block body %}

<div class="content-body">
    
    <!-- row -->
    <div class="container-fluid">
        <div class="page-titles">
            <div class="d-flex flex-wrap align-items-center justify-content-between">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ DOMAIN }}">Home</a></li>
                    <li class="breadcrumb-item active"><a href="javascript:void(0)">Reservas</a></li>
                </ol>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <div>
                    <table id="datatable" class="table dataTable">
                        <thead>
                            <tr>
                                <th class="d-none" width="50"></th>
                                <th>Cliente</th>
                                <th>Reserva</th>
                                <th>Período</th>
                                <th width="200">Pagamento</th>
                                <th width="140">Status</th>
                                <th width="140">Ação</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for reserva in reservas %}
                            <tr class="produto-{{ reserva.id }}">
                                <td class="d-none" width="50">#{{ loop.index }}</td>
                                <td>
                                    <div class="fw-bold fs-6">{{ reserva.nome }}</div>
                                    <div>{{ reserva.telefone }}</div>                                
                                </td>
                                <td>
                                    <div class="fw-bold fs-6">{{ reserva.suite_nome }}</div>
                                    <div>R$ {{ reserva.valor_reserva|number_format(2, ',', '.') }}</div>
                                </td>
                                <td>
                                    <div class="fw-bold fs-6">{{ reserva.data_reserva|date("m/d/Y") }}</div>
                                    <div class="d-flex justify-content-start flex-wrap">
                                        <div data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Horário de Chegada"><i class="fa-solid fa-right-to-bracket"></i> {{ reserva.chegada_reserva }}</div>
                                        <span class="mx-2">---</span>
                                        <div data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Período de Permanência"><i class="fa-solid fa-clock"></i> {{ reserva.periodo_reserva }}</div>
                                    </div>
                                </td>
                                <td>
                                    <span class="badge bg-{{ reserva.pagamento_status|payStatusColor }} py-1 ms-0 ms-md-1">{{ reserva.pagamento_status|payStatus }}</span>                                  
                                </td>
                                <td>
                                    <a class="badge bg-{{ reserva.status_reserva }} py-1" href="javascript:void(0)" data-bs-remote="{{ DOMAIN }}/reservas/status/{{ reserva.id }}" data-bs-toggle="offcanvas" data-bs-target="#statusReserva">
                                        <i class="fa-solid fa-pen-to-square"></i> {{ reserva.status_reserva }}
                                    </a>
                                </td>
                                <td>
                                    <div class="d-flex justify-content-end">
                                        <a href="{{ DOMAIN }}/reserva/{{ reserva.id }}" class="btn btn-primary btn-sm"><i class="fa fa-eye"></i> Ver Reserva</a>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- Datatable -->

<div class="offcanvas offcanvas-end" tabindex="-1" id="statusReserva" aria-labelledby="statusReservaLabel">
    <div class="offcanvas-body">
        Carregando...
    </div>
</div>

<script src="{{ DOMAIN }}/view/assets/vendor/datatables/js/jquery.dataTables.min.js"></script>
<script src="{{ DOMAIN }}/view/assets/js/plugins-init/datatables.init.js"></script>
<script src="{{ PATH }}/view/assets/js/pages/reservas.js"></script>

{% endblock %}