{% extends "layout/layoutMaster.twig" %}

{% block title %}{{ titulo }}{% endblock %}

{% block body %}

<div class="content-body">
    
    <!-- row -->
    <div class="container-fluid">
        <div class="page-titles">
            <div class="d-flex flex-wrap align-items-center justify-content-between">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ DOMAIN }}">Home</a></li>
                    <li class="breadcrumb-item active"><a href="javascript:void(0)">{{ titulo }}</a></li>
                </ol>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table id="datatable" class="table dataTable">
                        <thead>
                            <tr role="row">
                                <th width="50"></th>
                                <th>Nome</th>
                                <th>Email</th>
                                <th>CPF</th>
                                <th>Telefone</thasc>
                                <th class="text-end">Data</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for cliente in clientes %}
                            <tr class="produto-{{ cliente.id }}">
                                <td width="50">#{{ loop.index }}</td>
                                <td>{{ cliente.nome }}</td>
                                <td>{{ cliente.email }}</td>
                                <td>{{ cliente.cpf }}</td>
                                <td>{{ cliente.telefone }}</td>
                                <td class="text-end text-nowrap">{{ cliente.data|date("d-m-Y \\a\\s H:i", "America/Sao_Paulo") }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- Datatable -->

<script src="{{ DOMAIN }}/view/assets/vendor/datatables/js/jquery.dataTables.min.js"></script>
<script src="{{ DOMAIN }}/view/assets/js/plugins-init/datatables.init.js"></script>
<script src="{{ DOMAIN }}/view/assets/js/pages/suites.js"></script>

{% endblock %}