{% extends "layout/layoutMaster.twig" %}

{% block title %}Página Inicial{% endblock %}

{% block body %}

<div class="content-body">
    <!-- row -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-3 col-xxl-4">
                <div class="row">
                    {% if _session.busca_perfil_tipo == 2 or _session.busca_perfil_tipo == 3  %}
                    <div class="col-xl-12 col-md-6">
                        <div class="card card-congratulation-medal">
                            <div class="card-body">
                                <h5>Parabéns 🎉 {{ _session.busca_perfil_nome }}!</h5>
                                <p class="card-text font-small-3">Está é sua carteira até agora</p>
                                <h1 class="mb-75 mt-2 pt-50">
                                    <a href="{{ DOMAIN }}/saques">R$ {{ carteira|number_format(2, ',', '.') }}</a>
                                </h1>
                                <img src="{{ PATH }}/view/assets/images/badge.svg" class="congratulation-medal" alt="Medal Pic" />
                            </div>
                            <div class="card-footer">
                                <a href="{{ DOMAIN }}/saques" class="d-flex justify-content-between align-items-center">
                                    Qtd. de Saques disponíveis esse mês
                                    <span class="badge bg-success fs-6 d-flex align-items-center">{{ _session.busca_perfil_saques - totalSaques }}</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% if _session.busca_perfil_tipo == 0 %}
                    <div class="col-xl-12 col-md-6">
                        <div class="card">
                            <div class="card-header border-0 pb-0">
                                <h4 class="fs-20">Status de Reservas</h4>
                            </div>
                            <div class="card-body">
                                <div id="donutChart" data-aprovadas="{{ totalReservas.total_reservas_aprovadas }}" data-nao-concluidas="{{ totalReservas.total_reservas_nao_concluidas }}" data-recusadas="{{ totalReservas.total_reservas_recusadas }}"></div>
                                <div class="d-flex justify-content-between mt-4">
                                    <div class="pr-2">
                                        <svg width="20" height="8" viewBox="0 0 20 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <rect width="20" height="8" rx="4" fill="#214BB8"/>
                                        </svg>
                                        <h4 class="fs-18 mb-1 font-w600">{{ totalReservas.total_reservas_aprovadas }}</h4>
                                        <span class="fs-14">Pagas</span>
                                    </div>
                                    <div class="">
                                        <svg width="20" height="8" viewBox="0 0 20 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <rect width="20" height="8" rx="4" fill="#ffc107"/>
                                        </svg>
                                        <h4 class="fs-18 mb-1 font-w600">{{ totalReservas.total_reservas_nao_concluidas }}</h4>
                                        <span class="fs-14">Não pagas</span>
                                    </div>
                                    <div class="pr-2">
                                        <svg width="20" height="8" viewBox="0 0 20 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <rect width="20" height="8" rx="4" fill="#dc3545"/>
                                        </svg>
                                        <h4 class="fs-18 mb-1 font-w600">{{ totalReservas.total_reservas_recusadas }}</h4>
                                        <span class="fs-14">Recusadas</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                     {% if _session.busca_perfil_tipo == 2 or _session.busca_perfil_tipo == 3  %}
                    <div class="col-xl-12 col-md-6">
                        <div class="card">
                            <div class="card-header border-0 pb-0">
                                <h4 class="fs-20">Suítes mais Reservadas</h4>
                            </div>
                            <div class="card-body pb-0 dz-scroll height630 loadmore-content" id="latestSalesContent">
                                {% for item in suidesReservadas %}
                                <div class="pb-3 mb-3 border-bottom">
                                    <div class="d-flex align-items-end">
                                        {% if item.imagem %}
                                        <img src="{{ item.imagem }}" alt="" width="42" class="rounded-circle mr-2">
                                        {% else %}
                                        <img src="{{ PATH }}/view/assets/images/profile/20.jpg" alt="" width="42" class="rounded-circle mr-2">
                                        {% endif %}
                                        <div class="mr-auto">
                                            <h4 class="fs-14 mb-0">{{ item.nome_suite }}</h4>
                                            <span class="fs-12">R$ {{ item.menor_valor|number_format(2, ',', '.') }}</span>
                                        </div>
                                        <span class="badge badge-sm light badge-primary">{{ item.total_reservas }} Reservas</span>
                                    </div>
                                </div>
                                {% endfor %}                                
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="col-xl-9 col-xxl-8">
                <div class="row">
                    {% if _session.busca_perfil_tipo == 0 %}
                    <div class="col-xl-4 col-xxl-6 col-lg-4 col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex align-items-end">
                                    <div>
                                        <p class="fs-14 mb-1">Lucro desse Mês - {{ now|date("m/Y") }}</p>
                                        <span class="fs-35  font-w600">R$ {{ lucroMes|number_format(2, ',', '.') }}
                                            <svg class="ml-1" width="19" height="12" viewBox="0 0 19 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M2.00401 11.1924C0.222201 11.1924 -0.670134 9.0381 0.589795 7.77817L7.78218 0.585786C8.56323 -0.195262 9.82956 -0.195262 10.6106 0.585786L17.803 7.77817C19.0629 9.0381 18.1706 11.1924 16.3888 11.1924H2.00401Z" fill="#33C25B"/>
                                            </svg>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-xxl-6 col-lg-4 col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex align-items-end">
                                    <div>
                                        <p class="fs-14 mb-1">Lucro Total até o momento</p>
                                        <span class="fs-35  font-w600">R$ {{ lucroTotal|number_format(2, ',', '.') }}
                                            <svg class="ml-1" width="19" height="12" viewBox="0 0 19 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M2.00401 11.1924C0.222201 11.1924 -0.670134 9.0381 0.589795 7.77817L7.78218 0.585786C8.56323 -0.195262 9.82956 -0.195262 10.6106 0.585786L17.803 7.77817C19.0629 9.0381 18.1706 11.1924 16.3888 11.1924H2.00401Z" fill="#33C25B"/>
                                            </svg>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% endif %}
                  
                    <div class="col-xl-4 col-xxl-6 col-lg-4 col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex align-items-end">
                                    <div>
                                        <p class="fs-14 mb-1">Total de Vendas desse Mês</p>
                                        <span class="fs-35  font-w600">R$ {{ totalValorMes.total_vendas|number_format(2, ',', '.') }}
                                            <svg class="ml-1" width="19" height="12" viewBox="0 0 19 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M2.00401 11.1924C0.222201 11.1924 -0.670134 9.0381 0.589795 7.77817L7.78218 0.585786C8.56323 -0.195262 9.82956 -0.195262 10.6106 0.585786L17.803 7.77817C19.0629 9.0381 18.1706 11.1924 16.3888 11.1924H2.00401Z" fill="#33C25B"/>
                                            </svg>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-xxl-6 col-lg-4 col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                        <p class="fs-14 mb-1">Total de Vendas Geral</p>
                                        <span class="fs-35  font-w600">R$ {{ totalValor.total_vendas|number_format(2, ',', '.') }}
                                            <svg class="ml-1" width="19" height="12" viewBox="0 0 19 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M2.00401 11.1924C0.222201 11.1924 -0.670134 9.0381 0.589795 7.77817L7.78218 0.585786C8.56323 -0.195262 9.82956 -0.195262 10.6106 0.585786L17.803 7.77817C19.0629 9.0381 18.1706 11.1924 16.3888 11.1924H2.00401Z" fill="#33C25B"/>
                                            </svg>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if _session.busca_perfil_tipo == 2 or _session.busca_perfil_tipo == 3  %}
                    <div class="col-xl-12">
                        <div class="card" id="sales-revenue">
                            <div class="card-header pb-0 d-block d-sm-flex border-0">
                                <h3 class="fs-20 mb-0">Quantidade de Reservas por dia da semana</h3>
                            </div>
                            <div class="card-body">
                                <div id="reservas_dias"></div>
                                <script>
                                    document.addEventListener('DOMContentLoaded', function() {
                                        var dataQuantidades = [];
                                        var dataCategorias = [];

                                        {% for item in reservasDias %}
                                            dataQuantidades.push({{ item.quantidade|round(0, 'floor') }});
                                            dataCategorias.push('{{ item.dia_da_semana }}');
                                        {% endfor %}

                                        var options = {
                                            series: [{
                                                name: 'Registros',
                                                data: dataQuantidades
                                            }],
                                            chart: {
                                                type: 'bar',
                                                height: 350
                                            },
                                            plotOptions: {
                                                bar: {
                                                    distributed: true,
                                                    horizontal: false,
                                                    columnWidth: '55%',
                                                    endingShape: 'rounded'
                                                }
                                            },
                                            dataLabels: {
                                                enabled: false
                                            },
                                            xaxis: {
                                                categories: dataCategorias
                                            },
                                            legend: {
                                                position: 'top'
                                            },
                                            colors: ['#00E396', '#FEB019', '#FF4560', '#775DD0', '#008FFB', '#00D9E9', '#FF7F00'],
                                            theme: {
                                                mode: 'dark'
                                            }
                                        };

                                        var chart = new ApexCharts(document.querySelector("#reservas_dias"), options);
                                        chart.render();
                                    });
                                </script>

                            </div>
                        </div>
                    </div>
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-header border-0 pb-sm-0 pb-5">
                                <h4 class="fs-20">Lista de últimas Reservas</h4>
                            </div>
                            <div class="card-body">
                                <table id="datatable" class="table dataTable">
                                    <thead>
                                        <tr>
                                            <th class="d-none" width="50"></th>
                                            <th>Cliente</th>
                                            <th>Reserva</th>
                                            <th>Período</th>
                                            <th width="200">Pagamento</th>
                                            <th width="140">Status</th>
                                            <th class="text-end" width="50">Ação</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for reserva in reservas %}
                                        <tr class="produto-{{ reserva.id }}">
                                            <td class="d-none" width="50">#{{ loop.index }}</td>
                                            <td>
                                                <div class="fw-bold fs-6">{{ reserva.nome }}</div>
                                                <div>{{ reserva.telefone }}</div>                                
                                            </td>
                                            <td>
                                                <div class="fw-bold fs-6">{{ reserva.suite_nome }}</div>
                                                <div>R$ {{ reserva.valor_reserva|number_format(2, ',', '.') }}</div>
                                            </td>
                                            <td>
                                                <div class="fw-bold fs-6">{{ reserva.data_reserva|date("m/d/Y") }}</div>
                                                <div class="d-flex justify-content-start flex-wrap">
                                                    <div data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Horário de Chegada"><i class="fa-solid fa-right-to-bracket"></i> {{ reserva.chegada_reserva }}</div>
                                                    <span class="mx-2">---</span>
                                                    <div data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Período de Permanência"><i class="fa-solid fa-clock"></i> {{ reserva.periodo_reserva }}</div>
                                                </div>
                                            </td>
                                            <td>
                                                <span class="badge bg-{{ reserva.pagamento_status|payStatusColor }} py-1 ms-0 ms-md-1">{{ reserva.pagamento_status|payStatus }}</span>                                  
                                            </td>
                                            <td>
                                                <a class="badge bg-{{ reserva.status_reserva }} py-1" href="javascript:void(0)" data-bs-remote="{{ DOMAIN }}/reservas/status/{{ reserva.id }}" data-bs-toggle="offcanvas" data-bs-target="#statusReserva">
                                                    <i class="fa-solid fa-pen-to-square"></i> {{ reserva.status_reserva }}
                                                </a>
                                            </td>
                                            <td>
                                                <div class="d-flex justify-content-end">
                                                    <a href="{{ DOMAIN }}/reserva/{{ reserva.id }}" class="btn btn-primary btn-sm"><i class="fa fa-eye"></i></a>
                                                </div>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
        
{% endblock %}