<div class="header">
    <div class="header-content">
        <nav class="navbar navbar-expand">
            <div class="collapse navbar-collapse justify-content-between">
                <div class="header-left">

					<div class="select-motel">
                        <select class="form-control select2 text-uppercase" name="motel" id="select_motel" onchange="changeMotel(this.value)">
                            <option value="1">SELECIONE O MOTEL</option>
                            {% for motel in moteislista %}
                            <option value="{{ motel.id }}" {{ _session.busca_perfil_empresa == motel.id ? 'selected' }}>{{ motel.nome }}</option>
                            {% endfor %}
                        </select>
                    </div>

                </div>
                <ul class="navbar-nav header-right">
					<li class="nav-item dropdown notification_dropdown">
                        <a class="nav-link bell bell-link p-3" href="javascript:void(0)" data-bs-toggle="modal-remote" data-remote="{{ DOMAIN }}/notificacao/criar" data-bs-target="#notificacao">
                            <i class="fa-solid fa-bell fa-lg"></i>
							<div class="pulse-css"></div>
                        </a>
					</li>
                    <li class="nav-item dropdown header-profile">
                        <a class="nav-link" href="javascript:void(0)" data-bs-toggle="dropdown" aria-expanded="false">
							<div class="header-info">
								<span class="text-black"><strong>{{ _session.busca_perfil_nome }}</strong></span>
								<p class="fs-12 mb-0 text-primary">{{ _session.busca_perfil_cargo }}</p>
							</div>
                            <img src="{{ PATH }}/view/assets/images/profile/17.jpg" width="20" alt=""/>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a href="{{ DOMAIN }}/login/logout" class="dropdown-item ai-icon">
                                <svg id="icon-logout" xmlns="http://www.w3.org/2000/svg" class="text-danger" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path><polyline points="16 17 21 12 16 7"></polyline><line x1="21" y1="12" x2="9" y2="12"></line></svg>
                                <span class="ml-2">Sair </span>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>