<a href="{{ DOMAIN }}/reservas" class="add-menu-sidebar px-1">Lista de Reservas</a>
<ul class="metismenu" id="menu">
    <li>
        <a class="ai-icon" href="{{ DOMAIN }}" aria-expanded="false">
            <i class="flaticon-381-networking"></i>
            <span class="nav-text">Página Inicial</span>
        </a>
    </li>
    <li>
        <a href="{{ DOMAIN }}/suites" class="ai-icon" aria-expanded="false">
            <i class="flaticon-381-layer-1"></i>
            <span class="nav-text">Suítes</span>
        </a>
    </li>            
    <li><a class="ai-icon" href="{{ DOMAIN }}/chatbot">
            <i class="flaticon-381-controls-3"></i>
            <span class="nav-text">ChatBot</span>
        </a>
    </li>
    <li>
        <a class="ai-icon" href="{{ DOMAIN }}/cardapio">
            <i class="fa-regular fa-pot-food"></i>
            <span class="nav-text">Cardápio</span>
        </a>
    </li>
    <li class="d-none">
        <a class="has-arrow ai-icon" href="javascript:void(0)" aria-expanded="false">
            <i class="flaticon-381-user"></i>
            <span class="nav-text">Equipe</span>
        </a>
        <ul aria-expanded="false">
            <li><a href="{{ DOMAIN }}/equipe">Listar Todos</a></li>
            <li><a href="{{ DOMAIN }}/equipe/add">Add Novo</a></li>
            <li><a href="{{ DOMAIN }}/cargos">Gerenciar Cargos</a></li>
        </ul>
    </li>
    <li>
        <a class="ai-icon" href="{{ DOMAIN }}/clientes">
            <i class="flaticon-381-heart"></i>
            <span class="nav-text">Lista de Clientes</span>
        </a>
    </li>
    <li>
        <a class="ai-icon" href="{{ DOMAIN }}/configuracoes">
            <i class="flaticon-381-settings-2"></i>
            <span class="nav-text">Configurações</span>
        </a>
    </li>
</ul>