<ul class="metismenu" id="menu">
    <li>
        <a class="ai-icon" href="{{ DOMAIN }}/" aria-expanded="false">
            <i class="flaticon-381-networking"></i>
            <span class="nav-text">Página Inicial</span>
        </a>
    </li>
    <li>
        <a class="has-arrow ai-icon" href="javascript:void(0)" aria-expanded="false">
            <i class="fa-regular fa-list-timeline"></i>
            <span class="nav-text">Moteis</span>
        </a>
        <ul aria-expanded="false">
            <li><a href="{{ DOMAIN }}/moteis">Listar Todos</a></li>
            <li><a href="{{ DOMAIN }}/moteis/add">Add Novo</a></li>
            <li><a href="{{ DOMAIN }}/moteis/categorias">Categorias</a></li>
        </ul>
    </li>
    <li>
        <a class="ai-icon" href="{{ DOMAIN }}/cupons">
            <i class="fa-solid fa-ticket"></i>
            <span class="nav-text">Lista de Cupons</span>
        </a>
    </li>
    <li>
        <a class="ai-icon" href="{{ DOMAIN }}/admin/saques">
            <i class="fa-solid fa-money-bill-transfer"></i>
            <span class="nav-text">Lista de Saques</span>
        </a>
    </li>
    <li>
        <a class="ai-icon" href="{{ DOMAIN }}/clientes">
            <i class="flaticon-381-heart"></i>
            <span class="nav-text">Lista de Clientes</span>
        </a>
    </li>
    <li>
        <a class="ai-icon" href="{{ DOMAIN }}/configuracoes">
            <i class="flaticon-381-settings-2"></i>
            <span class="nav-text">Configurações</span>
        </a>
    </li>
</ul>