{% extends "layout/layoutMaster.twig" %}

{% block title %} {{ (motel.id == '') ? 'Criar Motel' : 'Editar Motel' }} {% endblock %}

{% block body %}

	<link rel="stylesheet" href="{{ DOMAIN }}/view/assets/vendor/froala/css/froala_editor.min.css">
	<link rel="stylesheet" href="{{ DOMAIN }}/view/assets/vendor/bootstrap-tagsinput/css/bootstrap-tagsinput.css">

	<div class="content-body">
		<div class="container-fluid">
			
			<section class="content-main mb-5">

				<div class="content-header">
					<div>
						<h3 class="content-title card-title">{{ (motel.id == '') ? 'Criar Motel' : 'Editar Motel' }}
						</h3>
					</div>
				</div>

				<form action="javascript:void(0)" id="{{ (motel.id == '') ? 'cadastrar_motel' : 'editar_motel' }}" method="POST" autocomplete="off">
					<div
						class="row">

						{# COLUNA PRINCIPAL #}
						<div class="col-sm-12 col-md-6 col-lg-6 col-xl-8 col-xxl-8">

							<div class="card">
								<div class="card-body">
									<input value="{{ motel.nome }}" type="text" id="nome" class="form-control text-uppercase {{ (motel.id == '') ? 'novo_motel' : 'editar_motel' }}" name="nome" placeholder="NOME DO MOTEL" required="required" onfocusout="format_slug($(this).val(), 'slug_link')">
									<input type="hidden" name="slug" id="slug" value="{{ motel.slug }}">
								</div>
							</div>

							<div class="card">
								<div class="card-body">
									<textarea name="texto" id="texto">{{ motel.texto }}</textarea>
								</div>
							</div>

							<div class="card">
								<div class="card-header py-2">INFORMAÇÕES DO MOTEL</div>
								<div class="card-body">
									<div class="row">
										<div class="col-md-3">
											<div class="mb-3">
												<label class="form-label">CEP</label>
												<input type="text" class="form-control" id="cep" required name="cep" value="{{ motel.cep }}">
											</div>
										</div>
										<div class="col-md-6">
											<div class="mb-3">
												<label class="form-label">Endereço</label>
												<input type="text" class="form-control" id="endereco" required name="endereco" value="{{ motel.endereco }}">
											</div>
										</div>
										<div class="col-md-3">
											<div class="mb-3">
												<label class="form-label">Número</label>
												<input type="text" class="form-control" name="numero" required value="{{ motel.numero }}">
											</div>
										</div>

										<div class="col-md-4">
											<div class="mb-3">
												<label class="form-label">Bairro</label>
												<input type="text" class="form-control" id="bairro" required name="bairro" value="{{ motel.bairro }}">
											</div>
										</div>
										<div class="col-md-4">
											<div class="mb-3">
												<label class="form-label">Cidade</label>
												<input type="text" class="form-control" id="cidade" required name="cidade" value="{{ motel.cidade }}">
											</div>
										</div>
										<div class="col-md-4">
											<div class="mb-3">
												<label class="form-label">Estado</label>
												<input type="text" class="form-control" id="estado" required name="estado" value="{{ motel.estado }}">
											</div>
										</div>
									</div>
			
									<div class="row mb-3">
										<div class="col-md-4">
											<label for="telefone" class="form-label">Telefone</label>
											<input type="text" class="form-control" id="telefone" value="{{ motel.telefone }}" name="telefone" required>
										</div>
										<div class="col-md-4">
											<label for="zap" class="form-label">WhatsApp</label>
											<input type="text" class="form-control" id="zap" value="{{ motel.zap }}" name="zap" required>
										</div>
										<div class="col-md-4">
											<label for="ramal" class="form-label">Ramal</label>
											<input type="text" class="form-control" id="ramal" value="{{ motel.ramal }}" name="ramal">
										</div>
									</div>
									<div class="mb-3">
										<label for="google" class="form-label">Google Maps Link</label>
										<textarea class="form-control" id="google" name="google" rows="3" required>{{ motel.google }}</textarea>
									</div>
									<div class="mb-3">
										<label for="waze" class="form-label">Waze Link</label>
										<textarea class="form-control" id="waze"  name="waze" rows="3" required>{{ motel.waze }}</textarea>
									</div>
								</div>
							</div>

						</div>

						{# COLUNA LATERAL #}
						<div class="col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4">

							<div class="card">
								<div class="card-header py-2">
									<div class="d-flex justify-content-between align-items-center w-100">
										<div>DADOS DE LOGIN</div>
										<div>
											{% if motel.id != '' %}<input type="hidden" name="id" value="{{ motel.id }}">{% endif %}
											<button type="submit" id="salvar" class="btn btn-primary btn-sm px-4">{{ motel.id == '' ? 'PUBLICAR' : 'SALVAR' }}</button>
										</div>
									</div>
								</div>
								<div class="card-body">
								
									<div class="mb-3">
										<label class="form-label">Email de Login</label>
										<input type="email" class="form-control" name="email" value="{{ motel.email }}" placeholder="Email de Login" role="presentation" autocomplete="new-email">
									</div>

									<div class="row mb-3">
										<div class="col-md-12 col-sm-12">
											<label class="form-label">Senha de Login</label>
											<input type="password" class="form-control" name="senha" value="" placeholder="{{ motel.senha != '' ? 'Preencha se deseja alterar' : 'Senha de Login' }}" role="presentation" autocomplete="new-password">
										</div>
									</div>

									<div class="row mb-3">
										<div class="col-md-6 col-sm-12">
											<label class="form-label">Status do Motel</label>
											<select name="status" class="form-control">
												<option value="Ativo">Ativo</option>
												<option value="Inativo" {{ motel.status == 'Inativo' ? 'selected' }}>Inativo</option>
											</select>
										</div>
										<div class="col-md-6 col-sm-12">
											<label class="form-label">Modo de Testes</label>
											<select name="developer" class="form-control">
												<option value="Ativo">Ativo</option>
												<option value="Inativo" {{ motel.developer == 'Inativo' ? 'selected' }}>Inativo</option>
											</select>
										</div>
									</div>

									<div class="border-bottom"><h5>REGRA DE CONTRATO</h5></div>
									<div class="row">
										<div class="col-md-6">
											<div class="mb-3">
												<label class="form-label">% de Contrato</label>
												<input type="number" class="form-control" name="contrato" value="{{ motel.contrato }}">
											</div>
										</div>
										<div class="col-md-6">
											<div class="mb-3">
												<label class="form-label">Qtd. de Saques</label>
												<input type="number" class="form-control" name="saques" value="{{ motel.saques }}">
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="card">
								<div class="card-header py-2">SISTEMA DE INTEGRAÇÃO</div>
								<div class="card-body">
									<label>Selecione a Integração</label>
									<select name="integracao" class="form-control mb-3 integracao">
										<option value="N">Sem Integração</option>
										<option value="api" {{ motel.integracao == 'api' ? 'selected' }}>API Interna</option>
										<option value="sis" {{ motel.integracao == 'sis' ? 'selected' }}>Sistema Sis</option>
									</select>
									<div class="mb-0">
										<label>Token do Motel</label>
										<input class="form-control" type="text" name="token" value="{{ motel.token }}">
									</div>
								</div>
							</div>

							<div class="card">
								<div class="card-header py-2">LOGO DO MOTEL</div>
								<div class="card-body">
									<div class="form-group mb-0">
										<div class="row">
											<div class="col-md-4 text-center">
												<img id="image_preview" src="{{ motel.logo != '' ? motel.logo : 'https://placehold.co/500x500' }}" class="img-thumb img-fluid" width="500" height="500" />
											</div>
											<div class="col-md-8">
												<input class="form-control" type="file" id="logo" name="logo" onchange="document.getElementById('image_preview').src = window.URL.createObjectURL(this.files[0])">
												<div class="mt-3">O tamanho padrão da imagem do logo é de 415x350.</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							

							<div class="card">
								<div>
									<div class="card-header py-2">AS SUÍTES POSSUEM</div>
									<div class="card-body py-2">
										{% set possuem = motel.possuem|split(',') %}
										<div class="form-check form-check-inline">
											<input class="form-check-input" type="checkbox" name="possuem[]" id="pussuem1" value="cafe" {{ 'cafe' in possuem ? 'checked' : '' }}>
											<label class="form-check-label" for="pussuem1">Inclui Café da Manhã</label>
										</div>
										<div class="form-check form-check-inline">
											<input class="form-check-input" type="checkbox" name="possuem[]" id="possuem2" value="jantar" {{ 'jantar' in possuem ? 'checked' : '' }}>
											<label class="form-check-label" for="possuem2">Inclui Jantar</label>
										</div>
										<div class="form-check form-check-inline">
											<input class="form-check-input" type="checkbox" name="possuem[]" id="possuem3" value="romantica" {{ 'romantica' in possuem ? 'checked' : '' }}>
											<label class="form-check-label" for="possuem3">Decoração Romântica</label>
										</div>
									</div>
								</div>

								<div>
									<div class="card-header py-2">CARACTERÍSTICAS</div>
									<div class="card-body py-2">
										<input name="caracteristicas" id="tags" class="tags form-control" value="{{ motel.caracteristicas }}">
									</div>
								</div>

								<div class="card-header py-2">CATEGORIAS</div>
								<div class="card-body form-category-list py-2">

									{% set cat_motel = motel.categoria_id|split(',') %}
									{% macro list(categorias, cat_motel) %}
										{% for categoria in categorias %}
											<div class="form-check mb-1">
												<input class="form-check-input" name="categories_id[]" type="checkbox" id="categoria{{ categoria.id }}" value="{{ categoria.id }}" {{ (categoria.id in cat_motel) ? 'checked' : '' }}>
												<label class="form-check-label" for="categoria{{ categoria.id }}">
													{% if categoria.nivel > 0 %}
														{% for space in 0..(categoria.nivel -1) %}— {% endfor %}
													{% endif %}
													{{ categoria.nome }}
												</label>
											</div>
											{% if categoria.children %}{{ _self.list(categoria.children, cat_motel) }}{% endif %}
										{% endfor %}
									{% endmacro %}

									{% if categorias %}
										{{ _self.list(categorias, cat_motel) }}
									{% endif %}

								</div>
							</div>

						</div>

					</div>
				</form>
			</section>

		</div>
	</div>

	<script src="{{ DOMAIN }}/view/assets/vendor/bootstrap-tagsinput/js/bootstrap-tagsinput.min.js"></script>
	<script src="{{ DOMAIN }}/view/assets/vendor/froala/js/froala_editor.pkgd.min.js"></script>
	<script src='{{ DOMAIN }}/view/assets/vendor/froala/js/languages/pt_br.js'></script>
	<script src="{{ DOMAIN }}/view/assets/js/pages/moteis.js"></script>

{% endblock %}
