<link href="{{ DOMAIN }}/view/assets/vendor/fileuploader/fileuploader.css" media="all" rel="stylesheet">
<script src="{{ DOMAIN }}/view/assets/vendor/fileuploader/fileuploader.js" type="text/javascript"></script>
<script type="text/javascript">
  function start_cardapio_gallery(){

    var saveEditedImage = function(image, item) {

      item.editor._blob = image;

      if (item.upload && item.upload.status == 'loading')
        return item.editor.isUploadPending = true;

      if (item.upload && item.upload.send && !item.upload.status) {
        item.editor._namee = item.name;
        return item.upload.send();
      }

      if (!item.appended && !item.uploaded)
        return;

      if (!item.editor || !item.reader.width)
        return;

      if (item.upload && item.upload.resend) {
        item.editor._namee = item.name;
        item.editor._editingg = true;
        item.upload.resend();
      }

      if (item.appended) {
        item.imageIsUploading = true;
        item.editor._editingg = true;

        var form = new FormData();
        form.append('files[]', item.editor._blob);
        form.append('fileuploader', 1);
        form.append('_namee', item.name);
        form.append('_editingg', true);

        $.ajax({
          url: '{{ DOMAIN }}/application/Fileuploader/cardapio/upload.php',
          data: form,
          type: 'POST',
          processData: false,
          contentType: false
        });
      }
    };

    $('input[name="files"]').fileuploader({
      limit: 20,
      fileMaxSize: 20,
      enableApi: true,
      extensions: ['jpg', 'jpeg', 'png', 'gif'],
      changeInput: '<div class="fileuploader-items" style="width: 330px; float: left;">\
                      <ul class="fileuploader-items-list">\
                        <li class="fileuploader-thumbnails-input" style="width: 100%;"><div class="fileuploader-thumbnails-input-inner"> <div><i class="fal fa-images fa-lg"></i></div> <div>Selecione as <br>Fotos em <br>jpg ou png</div></div></li>\
                      </ul>\
                    </div>',
      theme: 'thumbnails thumbnails-with-caption',
      files: [
        {% for imagem in imagens %}
        {
          {% set arrayExtensao = imagem.nome|split('.') %}
          {% set extensao = arrayExtensao|last %}
          name: '{{ imagem.nome }}',
          type: 'image/{{ extensao }}',
          file: '{{ imagem.imagem }}'
        },
        {% endfor %}
      ],
      thumbnails: {
        canvasImage: false,
        popup: {
          onShow: function(item) {
            item.popup.html.on('click', '[data-action="crop"]', function(e) {
              if (item.editor)
                item.editor.cropper();
            }).on('click', '[data-action="rotate-cw"]', function(e) {
              if (item.editor)
                item.editor.rotate();
            }).on('click', '[data-action="remove"]', function(e) {
              item.popup.close();
              item.remove();
            }).on('click', '[data-action="cancel"]', function(e) {
              item.popup.close();
            }).on('click', '[data-action="save"]', function(e) {
              if (item.editor)
                item.editor.save(function(blob, item) {
                  saveEditedImage(blob, item);
                }, true, null, false);

              if (item.popup.close)
                item.popup.close();
            });
          },  
        },
        onImageLoaded: function(item) {
          if (!item.html.find('.fileuploader-action-edit').length)
            item.html.find('.fileuploader-action-remove').before('');

          if (item.appended)
            return;

          if (item.imageIsUploading) {
            item.image.addClass('fileuploader-loading').html('');
          }

          if (!item.imageLoaded)
            item.editor.save(function(blob, item) {
              saveEditedImage(blob, item);
            }, true, null, true);

          item.imageLoaded = true;
        },
      },
      upload: {
        url: '{{ DOMAIN }}/application/Fileuploader/cardapio/upload.php',
        data: null,
        type: 'POST',
        enctype: 'multipart/form-data',
        start: false,
        synchron: true,
        beforeSend: function(item, listEl, parentEl, newInputEl, inputEl) {
            // add image to formData
            if (item.editor && item.editor._blob) {
              item.upload.data.fileuploader = 1;
              if (item.upload.formData.delete)
               item.upload.formData.delete(inputEl.attr('name'));
             item.upload.formData.append(inputEl.attr('name'), item.editor._blob, item.name);

             if (item.editor._namee) {
              item.upload.data._namee = item.name;
            }

            if (item.editor._editingg) {
              item.upload.data._editingg = true;
            }
          }

          item.html.find('.fileuploader-action-success').removeClass('fileuploader-action-success');
        },
        onSuccess: function(result, item) {
          var data = {};

          try {
            data = JSON.parse(result);
          } catch (e) {
            data.hasWarnings = true;
          }

          if (data.isSuccess && data.files[0]) {
            item.name = data.files[0].name;
            item.html.find('.column-title > div:first-child').text(data.files[0].name).attr('title', data.files[0].name);

            if (item.editor && item.editor.isUploadPending) {
              delete item.editor.isUploadPending;

              saveEditedImage(item.editor._blob, item);
            }
          }

            // if warnings
            if (data.hasWarnings) {
              for (var warning in data.warnings) {
                alert(data.warnings);
              }
              
              item.html.removeClass('upload-successful').addClass('upload-failed');
              return this.onError ? this.onError(item) : null;
            }

            item.html.find('.fileuploader-action-remove').addClass('fileuploader-action-success');
            setTimeout(function() {
              item.html.find('.progress-bar2').fadeOut(400);
            }, 400);
          },
          onError: function(item) {
            var progressBar = item.html.find('.progress-bar2');
            
            if(progressBar.length) {
              progressBar.find('span').html(0 + "%");
              progressBar.find('.fileuploader-progressbar .bar').width(0 + "%");
              item.html.find('.progress-bar2').fadeOut(400);
            }

            item.upload.status != 'cancelled' && item.html.find('.fileuploader-action-retry').length == 0 ? item.html.find('.column-actions').prepend(
              '<a class="fileuploader-action fileuploader-action-retry" title="Retry"><i></i></a>'
              ) : null;
          },
          onProgress: function(data, item) {
            var progressBar = item.html.find('.progress-bar2');
            
            if(progressBar.length > 0) {
              progressBar.show();
              progressBar.find('span').html(data.percentage + "%");
              progressBar.find('.fileuploader-progressbar .bar').width(data.percentage + "%");
            }
          },
          onComplete: null,
        },
        editor: {
          cropper: {
            ratio: '5:5',
            showGrid: true
          },
          quality: null
        },
        onRemove: function(item) {
          $.post('{{ DOMAIN }}/application/Fileuploader/cardapio/remove.php', {
            file: item.name
          });
        },
        sorter: {
          selectorExclude: null,
          placeholder: null,
          scrollContainer: window,
          onSort: function(list, listEl, parentEl, newInputEl, inputEl) {
            var api = $.fileuploader.getInstance(inputEl.get(0)),
            fileList = api.getFileList(),
            _list = [];

            $.each(fileList, function(i, item) {
              _list.push({
                name: item.name,
                index: item.index
              });
            });

            $.post('{{ DOMAIN }}/application/Fileuploader/cardapio/sort.php', {
              _list: JSON.stringify(_list)
            });
          }
        },
        
      });
    };
  </script>

<form action="" method="POST" enctype="multipart/form-data">
  <div class="row cardapio">
    <div class="col-md-12">
      <div class="form-group">
        <div class="form-group">
          <input class="d-none" type="file" name="files" id="imagenscap"  accept="image/png, image/jpeg, image/jpg">
        </div>
      </div>
    </div>
  </div>
</form>
<script>start_cardapio_gallery();</script>